<nav class="otro navbar bg-body-tertiary fixed-top">
   <div class="container-fluid ">
      <div>
         <a class="navbar-brand" href="#">
            <img src="assets/img/snakers-logo.png" alt="Instagram" width="80">
         </a>
      </div>
      <div class=" justify-content-between align-items-center">
         <button type="button" class="nav-link active my-button" (click)="logout()">Sign out</button>
      </div>
   </div>
</nav>
<div class="spacer"></div>

<!-- Modal -->
<div class="modal fade" id="postUploadModal" tabindex="-1" aria-labelledby="postUploadModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <app-post-upload></app-post-upload>
     </div>
   </div>
 </div>
 <br>
 <br>
 <br>
 <br>