<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-3 border-success border-2 border-top" id="kolam">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1" style="color: #1DB954;">
      <i class="fa-brands fa-spotify fa-xl"></i>
    </a>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a style="color: #1DB954;" href="#"><i class="fa-brands fa-facebook fa-bounce fa-xl"></i></a></li>
    <li class="ms-3"><a style="color: #1DB954;" href="#"><i class="fa-brands fa-instagram fa-bounce fa-xl"></i></a></li>
    <li class="ms-3"><a style="color: #1DB954;" href="#"><i class="fa-brands fa-github fa-bounce fa-xl"></i></a></li>
  </ul>
  <div class="container">
    <ul class="nav justify-content-center border-success border-top pb-1 mt-1"></ul>
    <p class="text-center text-light fw-bold">© 2024 DUOC UC Online, Marcelo Acuña</p>
  </div>
</footer>